.content_wrap {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #cdcdcd;
}

.content_wrap img {
  height: 609px;
}

.inner_content {
  margin-top: 20px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner_content h1 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.inner_content .para {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color: #000000;
  text-align: justify;
  width: 70%;
  margin: 30px 0;
}

.url_signin {
  margin-top: 20px;
}

.url_signin a {
  font-weight: bold;
  color: #3f46ad;
  transition: all 0.3s ease-in-out;
}
.url_signin a:hover {
  color: #0011ff;
}
